# check utils/globals.py for a list of configuration parameters and their defaults
# can modify one or more of them and add them below
# adding those paramters below will overwrite only those values in the Params class in utils/globals.py
# and other paramters that derive from it will be recalculated
# this allows you to not specify manually 100s of parameters in the configuration file
[World]
class = World.WorldBuilder
subbuilders = ["DetEnclosure"]
workspace = 0   # workspace = 0 constructs full 10kt, other available workspace options can be seen in utils/globals.py
wires = False
simple = False  # constructs full support structure and cavern geometry, if True defaults back to perl version
# To get workspace geometries, set
# workspace = 3 and simple = True : 1x8x6
# workspace = 4 and simple = True : 1x8x14


[DetEnclosure]
class = DetEnclosure.DetEnclosureBuilder
subbuilders = ["SupportEnc", "Cryostat"]

[SupportEnc]
class = SupportEnc.SupportEncBuilder
subbuilders = ["CryostatEnc"]

[CryostatEnc]
class = CryostatEnc.CryostatEncBuilder
subbuilders = ["Cryostat"]

[Cryostat]
class = Cryostat.CryostatBuilder
subbuilders = ["FieldCage", "TPC", "Arapuca", "CathodeGrid"]

[FieldCage]
class = FieldCage.FieldCageBuilder

[TPC]
class = TPC.TPCBuilder
subbuilders = ["Wires"]

[Arapuca]
class = Arapuca.ArapucaBuilder

[CathodeGrid]
class = CathodeGrid.CathodeGridBuilder

[Wires]
class = Wires.WiresBuilder
