
[TPCPlaneZ]
class         = duneggd.larfd.TPCPlane.TPCPlaneBuilder
view          = 'Z'
wirePitch     = Q('0.479cm')
wireAngle     = Q('0deg')
nChannels     = 960
nowires       = False
wireDiam      =  Q('150um')
G10Thickness  =  Q('0.125in')
wrapCover     =  Q('0.0625in')
apaFrameDim   = [Q('5.0661cm'), Q('606.0cm'), Q('231.59cm')]


[TPCPlaneV]
class         = duneggd.larfd.TPCPlane.TPCPlaneBuilder
view          = 'V'
wirePitch     = Q('0.4667cm')
wireAngle     = Q('35.710deg')
nChannels     = 800
nowires       = {TPCPlaneZ:nowires}
wireDiam      = {TPCPlaneZ:wireDiam} 
G10Thickness  = {TPCPlaneZ:G10Thickness}
wrapCover     = {TPCPlaneZ:wrapCover}
apaFrameDim   = {TPCPlaneZ:apaFrameDim}


[TPCPlaneU]
class         = duneggd.larfd.TPCPlane.TPCPlaneBuilder
view          = 'U'
wirePitch     = Q('0.4667cm')
wireAngle     = Q('35.710deg')
nChannels     = 800
nowires       = {TPCPlaneZ:nowires}
wireDiam      = {TPCPlaneZ:wireDiam} 
G10Thickness  = {TPCPlaneZ:G10Thickness}
wrapCover     = {TPCPlaneZ:wrapCover}
apaFrameDim   = {TPCPlaneZ:apaFrameDim}


[TPC]
subbuilders    = ['TPCPlaneZ', 'TPCPlaneV', 'TPCPlaneU']
class          = duneggd.larfd.TPC.TPCBuilder
driftDistance  = Q('3.6m')
wirePlanePitch = Q('0.476cm')
APAGap_y       = Q('0.4cm')
APAGap_z       = Q('0.8cm')

[TPCOuter] # for when the apa is on the outside
subbuilders    = {TPC:subbuilders}
class          = {TPC:class}
driftDistance  = {Cryostat:sideLAr} # "drift" is the dist to cryo wall
wirePlanePitch = {TPC:wirePlanePitch}
APAGap_y       = {TPC:APAGap_y}
APAGap_z       = {TPC:APAGap_z}
		   
[BeamStructure]
class         = duneggd.larfd.BeamStructure.BeamStructureBuilder
#http://www.wermac.org/steel/dim_ipe_inp.html
IPEBeamHeight  = Q('220mm') # NB, hence the name IPE220
IPEBeamBase    = Q('110mm')
IPEBeamThick1  = Q('5.9mm')
IPEBeamThick2  = Q('9.2mm')
nBeam          = 2
plane          = "PosX"
BeamSeparation = Q('1600mm')

[Cryostat]
subbuilders         = ['TPC', 'TPCOuter']
class               = duneggd.larfd.Cryostat.CryostatBuilder
membraneThickness   = Q('0.5in')
cathodeThickness    = Q('0.016cm')
# nAPAs               = [1, 2, 6]
nAPAs               = [3, 2, 25]
outerAPAs           = True
sideLAr             = Q('15cm')
APAToFloor          = Q('49.2cm')
APAToGAr            = Q('40.7cm')
APAToUpstreamWall   = Q('301.2cm')
APAToDownstreamWall = Q('49.2cm')


[DetEnclosureLAr]
subbuilders     = ['Cryostat','BeamStructure']
class           = duneggd.larfd.DetEncLAr.DetEncLArBuilder
detEncDim       = [Q('19.80m'),Q('23.15m'),Q('93m')]
archRadius      = Q('12.84m')
archHalfAngle   = Q('50deg')
encBoundToDet_z = Q('1m') # placeholder
makeWaterShield = False
thickness       = Q('10cm')
waterBoxDim     = [Q('1m'),Q('1m'),Q('1m')]

[World]
subbuilders         = ['DetEnclosureLAr']
class               = duneggd.larfd.World.WorldBuilder
worldMat            = 'Rock'
worldDim            = [Q('200m'),Q('200m'),Q('200m')] # enough room for CRY, otherwise arbitrary
encBackWallToHall_z = Q('46.25ft') 


