#  _____       _            _               ______            _                          
# |  __ \     | |          | |             |  ____|          | |                         
# | |  | | ___| |_ ___  ___| |_ ___  _ __  | |__   _ __   ___| | ___  ___ _   _ _ __ ___ 
# | |  | |/ _ \ __/ _ \/ __| __/ _ \| '__| |  __| | '_ \ / __| |/ _ \/ __| | | | '__/ _ \
# | |__| |  __/ ||  __/ (__| || (_) | |    | |____| | | | (__| | (_) \__ \ |_| | | |  __/
# |_____/ \___|\__\___|\___|\__\___/|_|    |______|_| |_|\___|_|\___/|___/\__,_|_|  \___|
#                                                                                        

[DetEnclosure]
class           = DetEnc.DetEncBuilder
detEncDim       = [Q('20m'), Q('20m'), Q('20m')] 
encBoundToDet_z = Q('8m')
detDim          = [Q('6.7m'), Q('6.7m'), Q('13m')]
detEncMat       = 'Plastic'

# __          __        _     _    _____                           _             
# \ \        / /       | |   | |  / ____|                         | |            
#  \ \  /\  / /__  _ __| | __| | | |  __  ___ _ __   ___ _ __ __ _| |_ ___  _ __ 
#   \ \/  \/ / _ \| '__| |/ _` | | | |_ |/ _ \ '_ \ / _ \ '__/ _` | __/ _ \| '__|
#    \  /\  / (_) | |  | | (_| | | |__| |  __/ | | |  __/ | | (_| | || (_) | |   
#     \/  \/ \___/|_|  |_|\__,_|  \_____|\___|_| |_|\___|_|  \__,_|\__\___/|_|
#

[World]
subbuilders         = ['DetEnclosure']
class               = World.SimpleWorldBuilder
